@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Poppins:wght@100&display=swap');


/*===========================*/
/*============Menu===========*/
/*===========================*/
.header{
    background-color: transparent !important;
    padding-top: 0%;
    height: 100px;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 85px;
}

.logo{
    width: 60px;
    padding-left: px;
}

.contenedor{
    width: 100%;
    height: 90px;    
}

.list{
    display: flex;
    justify-content:  end !important;
}

.menu a{
    color: #D2B862 !important;
    font-size: 20px;
    border-radius: 80px !important;
    font-family: Poppins;
    font-size: 18px;
}

.menu a:hover{
    color: black !important;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 20px;
}


.menu-horizontal{
    list-style: none;
    display: flex;
    padding-top: 15px;
    width: 100%;
}



.menu-horizontal > li > a{
    display: block;
    text-decoration: none;
}

.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 260px;
    border-radius: 5px;
   
}

.menu-horizontal li:hover .menu-vertical{
    display: block;
}

.menu-vertical li a{
    display: block;
    padding: 10px 10px 10px 15px;
    text-decoration: none;
}

/*===========================*/
/*========MEDIA QUERY========*/
/*===========================*/
@media (max-width: 768px){
    .menu{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding: 15px;
        background-color: rgba(255, 255, 255, 0.9);
        position: absolute;
        top: 90px;
        right: 0;
        left: 0;
        z-index: 1;
    }

    .header{
        height: 50px !important;
    }

    .logo{
        height: 50px !important; 
        width: 40px;
    }

    .contenedor{
        height: 50px !important;
    }

    .menu-horizontal{
        display: flex;
        flex-direction: column;
    }

    
    .menu-vertical{
        position: relative;
    }

    .menu-vertical{
        background-color: transparent;
    }

    .menu a:hover{
        background-color: transparent !important;
    }
    
}

@media (max-width: 991px){
    .menu{
        display: flex;
        align-items: flex-start !important;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.9);
        position: absolute;
        top: 90px;
        right: 0;
        left: 0;
        z-index: 1;
        margin-top: -40px;
    }
    .menu-1{
        display: flex;
        align-items: center;
    }

    .header{
        height: 50px !important;
    }

    .logo{
        height: 50px !important; 
        width: 40px;
    }

    .contenedor{
        height: 50px !important;
    }

    .menu-horizontal{
        display: flex;
        flex-direction: column;
    }

    
    .menu-vertical{
        position: relative;
    }

    .menu a:hover{
        background-color: transparent !important;
    }
}
