/*===========================*/
/*============Menu===========*/
/*===========================*/
.header{
    background-color: #FFFFFF !important;
    padding-top: 0%;
    height: 100px;
    position: fixed;
    z-index: 100;
    width: 100%;
}

.logo{
    width: 80px;
    padding-left: 10px;
}

.contenedor{
    width: 100%;
    box-shadow: 0px 1px 5px 0px #858282;
}

.list{
    display: flex;
    justify-content:  end !important;
}

.menu a{
    color: #D2B862 !important;
    font-size: 20px;
}

.menu a:hover{
    color: black !important;
}


/*===========================*/
/*========MEDIA QUERY========*/
/*===========================*/
@media (max-width: 768px){
    .menu{
        display: flex;
        align-items: center;
        padding: 15px;
        flex-direction: column;
        background-color: #FFFFFF;
        position: absolute;
        top: 90px;
        right: 0;
        left: 0;
        z-index: 1;
    }

    .menu-1{
        display: flex;
        align-items: center;
    }
}

@media (max-width: 991px){
    .menu{
        display: flex;
        align-items: center;
        padding: 15px;
        flex-direction: column;
        background-color: #FFFFFF;
        position: absolute;
        top: 90px;
        right: 0;
        left: 0;
        z-index: 1;
    }
    .menu-1{
        display: flex;
        align-items: center;
    }
}

